<html ng-app="TimeWaste">
<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app/css/style.css">
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController">
  <div class="container">
        <div ng-show="!loggedIn">
            <input type="text" ng-model="login.email">
            <input type="password" ng-model="password.html">
            <button ng-click="logUserIn()">Login</button>
            <a ui-sref="signUp">Create an acount</a>
      
      </div>
      <div ng-show="loggedIn">
          <a ui-sref="editProfile">Edit Profile</a> 
      </div>
  </div>
</nav>
    
    </head>
<body>
    
 
    
     <div ui-view></div>
    
    </body>
<script src="node_modules/angular/angular.js"></script>
    <script src="app/app.js"></script>
    
  <!--  <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>   -->
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script src="app/signup/signup-controller.js"></script>
    <script src="app/navigation/navigation-controller.js"></script>
    <script src="app/profile/edit-profile-controller.js"></script>
    
    <!-- file upload-->
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
</html>